apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    cluster:
      name: {{ rke2_cluster_name }}
      id: 21
    prometheus:
      enabled: {{ rke2_prometheus_enabled }}
      serviceMonitor:
        enabled: false
    dashboards:
      enabled: {{ rke2_dashboards_enabled }}
    hubble:
      enabled: {{ rke2_hubble_enabled }}
      metrics:
        enabled:
        - dns:query;ignoreAAAA
        - drop
        - tcp
        - flow
        - icmp
        - http
        dashboards:
          enabled: {{ rke2_hubble_metrics_dashboards_enabled }}
        serviceMonitor:
          enabled: false

      relay:
        enabled: {{ rke2_hubble_relay_enabled }}
        prometheus:
          enabled: {{ rke2_hubble_relay_prometheus_enabled }}
          serviceMonitor:
            enabled: false
  
      ui:
        enabled: {{ rke2_hubble_ui_enabled }}
        baseUrl: {{ rke2_hubble_ui_base_url }}
    version: {{ rke2_cilium_version }}
    operator:
      replicas: 1
      prometheus:
        enabled: {{ rke2_operator_prometheus_enabled }}
        serviceMonitor:
          enabled: false

      dashboards:
        enabled: {{ rke2_operator_dashboards_enabled }}
    envoy:
      prometheus:
        enabled: {{ rke2_envoy_prometheus_enabled }}
        serviceMonitor:
          enabled: false

    clustermesh:
      apiserver:
        metrics:
          enabled: {{ rke2_clustermesh_apiserver_metrics_enabled }}
          serviceMonitor:
            enabled: false

    kubeProxyReplacement: {{ rke2_kube_proxy_replacement }}
    ipam:
      mode: {{ rke2_ipam_mode }}
    socketLB:
      hostNamespaceOnly: {{ rke2_socket_lb_host_namespace_only }}